
.dropdown-container {
    width: auto;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
    margin-top: 3px;
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space items evenly */
}

.dropdown-container select {
    flex: 1; /* Allow the select to grow */
    padding: 10px;
    margin-right: 10px; /* Space between select and button */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropdown-container button {
    flex-shrink: 0; /* Prevent button from shrinking */
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
