
.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

.navbar-nav .nav-link {
  font-size: 1rem;
}

.navbar-toggler {
  border: none;
  padding: 0.5rem;
}

.navbar-toggler-icon {
  font-size: 1.5rem;
}
