/* Table.css */

.chapter-content {
  margin: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

.content-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fafafa;
  overflow-x: auto;
  max-width: 100%;
}

.content-item h5 {
  margin: 0;
  font-size: 1.1em;
  color: #007bff;
}

.content-item p {
  margin: 5px 0;
  color: #555;
  white-space: nowrap;
}

.content-item a {
  text-decoration: none;
  color: #007bff;
}

.content-item a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  th, td {
    display: block;
    text-align: right;
  }

  th {
    position: relative;
  }

  th::after {
    content: ":";
    position: absolute;
    right: 10px;
  }

  td {
    text-align: left;
    padding-left: 50%;
    position: relative;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: 45%;
    padding-left: 10px;
    font-weight: bold;
    text-align: left;
  }
}



/* Add any additional styles for the table here */
.tooltip-container {
  position: relative;
  /* display: inline-block; */
  cursor: pointer;
  color: #2c3e50;
  font-weight: 500;
}
.tooltip-container li{
  background-color: red;
}

.tooltip-box {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.tooltip-box::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltip-container:hover .tooltip-box {
  visibility: visible;
  opacity: 1;
}
